{% extends "base.html" %}

{% block titre %}À propos{% endblock %}

{% block corps %}
<div class="container">
    <h1>À propos de l'outil</h1>
    <div><p>Outil en libre accès d'annotation de corpus. Utilise plusieurs moteurs d'annotation, et permet plusieurs entrées / sorties. Permet notamment
    une annotation de sources encodées en XML-TEI (à venir).</p></div>
</div>
{% endblock %}