{% extends "base.html" %}

{% block titre %}Annoteur grammatical en ligne{% endblock %}

{% block corps %}
        <div class="container">
        <form class="form-row" method="POST" enctype="multipart/form-data">
            <div class="row"><div class="col">
                <h3>Format d'entrée</h3>
                <div>
                    <input type="radio" id="entree_tei" name="entree" value="tei" />
                    <label for="entree_tei">TEI (.xml)</label>
                </div>
                <div>
                    <input type="radio" id="entree_txt" checked="checked" name="entree" value="txt" />
                    <label for="entree_txt">Texte brut (.txt)</label>
                </div>
            </div>
            <div class="col">
                <h3>Format de sortie</h3>
                <div>
                    <input type="radio" id="sortie_tei" name="sortie" value="tei" />
                    <label for="sortie_tei">TEI (.xml)</label>
                </div>
                <div>
                    <input type="radio" id="sortie_XML-W" name="sortie" value="XML-W" />
                    <label for="sortie_XML-W">XML/W (.xml)</label>
                </div>
                <div>
                    <input type="radio" id="sortie_tsv" checked="checked" name="sortie" value="tsv" />
                    <label for="sortie_tsv">Tabular Separated values (.tsv)</label>
                </div>
                <div>
                    <input type="radio" id="sortie_txt" name="sortie" value="txt" />
                    <label for="sortie_txt">Texte brut (.txt)</label>
                </div>
            </div>
            <div class="col option1">
                <h3>Options d'annotation</h3>
                <div>
                    <input type="checkbox" id="lemmes" checked="checked" name="annotation_lemmes" />
                    <label for="lemmes">Lemmes</label>
                </div>
                <div>
                    <input type="checkbox" checked="checked" id="pos" name="annotation_pos" />
                    <label for="pos">PoS</label>
                </div>
                <div>
                    <input type="checkbox" id="morph" name="annotation_morph" />
                    <label for="morph">Morphologie</label>
                </div>
                <!--Indiquer que selon l annoteur le PoS et le Morph sont indissociables-->
            </div>
            <div class="col">
                <h3>Langue du corpus</h3>
                <div>
                    <h5>Castillan</h5>
                    <div>
                        <input type="radio" id="cast_medieval" name="langue" value="cast_medieval" />
                        <label for="cast_medieval">Castillan médiéval
                            (Freeling)</label>
                    </div>
                    <div>
                        <input type="radio" id="cast_classique" name="langue" value="cast_classique" />
                        <label for="cast_classique">Castillan classique</label>
                    </div>
                    <div>
                        <input type="radio" id="cast_moderne" name="langue" checked="checked" value="cast_moderne" />
                        <label for="cast_moderne">Castillan moderne (Pie)</label>
                    </div>
                </div>
                <div>
                    <h5>Latin</h5>
                    <div>
                        <input type="radio" id="latin_medieval" name="langue" value="latin_medieval" />
                        <label for="latin_medieval">Latin (Pie)</label>
                    </div>
                    <div>
                        <input type="radio" id="latin_classique" name="langue"
                            value="latin_classique" />
                        <label for="latin_classique">Latin classique (CLTK)</label>
                    </div>
                </div>
                <!--Indiquer que selon l annoteur le PoS et le Morph sont indissociables-->
            </div></div>
           <div class="container"> <h2>Fichier à traiter</h2>
                <input type="file" id="mon_fichier" name="mon_fichier" />
               <input type="submit" value="Annote ! " />
            </div>
        </form>
            </div>
{% endblock %}        


