{% extends "base.html" %}

{% block titre %}Résultats{% endblock %}

{% block corps %}
        <div class="container">
            <div><p>Le fichier annoté est disponible <a href="/Annotator/resultat/{{nom_fichier}}" target="_blank"
                >ici</a>.</p></div>
        <div><p>
            <a href="/Annotator">Retour</a>
        </p></div>
        </div>
{% endblock %}