<!DOCTYPE html>
<html>
    <head>
        {% block header %}        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block titre %}Titre par default{% endblock %}</title>	
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css/perso.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    
    <body class="d-flex flex-column">
        {% block navbar %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
                <a class="navbar-brand" href="/Annotator">
                    Annotator</a>
            </div>
            <div class="collapse navbar-collapse
                text-right">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                <a class="navbar-brand" target="_blank" href="https://gitlab.huma-num.fr/mgillelevenson/flask_annotator">
                    Dépôt git
                </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endblock %}
        
        {% block corps %}{% endblock %}
        
        {% block footer %} 
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
            <div class="d-flex flex-grow-1 text-right">
                        <a href="/Annotator/a-propos" class="nav-link">À propos</a>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <a href="/Annotator/credits" class="nav-link">Crédits, références bibliographiques</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endblock %}
        
        
        {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='js/perso.js') }}"></script>
        {% endblock %}
    </body>
</html>
