{% extends "base.html" %}

{% block titre %}Crédits{% endblock %}

{% block corps %}
        <div class="container">
            <h1>Crédits</h1>
            <div class="test"><h2>Références bibliographiques</h2><ul>
                <li>Pie:</li>
                <li>Freeling:</li>
                <li>CLTK:</li>
            </ul></div>
        </div>
{% endblock %}