{% extends "base.html" %}

{% block titre %}Erreur{% endblock %}

{% block corps %}
        <div class="container"><div>
            <p>Le format du fichier n'est pas correct. Message d'erreur: {{erreur}}. Veuillez recommencer !</p>
        <a href="/Annotator">Retour</a></div></div>
{% endblock %}
